[submodule "create-react-custom-app"]
	path = create-react-custom-app
	url = https://github.com/haku-noir/create-react-custom-app.git
[submodule "create-component-container"]
	path = create-component-container
	url = https://github.com/haku-noir/create-component-container.git
